{
  "presets": [
    ["@babel/env", {
      "modules": false,
      "targets": {
        "browsers": "> 1%",
      },
      "useBuiltIns": "entry"
    }],
    "@babel/stage-0",
    "@babel/react"
  ],

  "plugins": [
    "lodash",
    ["module-resolver", {
      "root": "./app"
    }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["react-css-modules", {
      "webpackHotModuleReloading": true,
      "filetypes": {
        ".sass": { 
          "syntax": "sugarss",
          "plugins": [
            "autoprefixer"
          ]
        }
      }
    }]
  ]
}